<html>
  <head>
    
  </head>
  <body class="">
    <div >
    <nav class="nav  text-uppercase " style="font-weight: bold;" id="navbar"  [ngClass]="d">
      <img src="\assets\Pizza_mainlogo.png" alt="" width="60px" height="55px" class="ms-2 me-1">
      
      <ul class="nav">
        <a routerLink="/home" class=" nav-link ">Home</a>
        <a routerLink="/viewpizza" class="nav-link">View</a>
        <a routerLink="/register" class="nav-link">Register</a>
        <a routerLink="/login" *ngIf="b1"  class="nav-link" >Login</a>
   
         <a class="nav-link" (click)="logout()" *ngIf="!b1">Logout</a>
      </ul>
      <form action="" class="nav navbar" style="margin-left:65% ;">

        <div>Welcome to pizzamania</div>


        <select name="" id="sel1" (change)="bgfunc()" style="margin-left: 15px;">
          <option value="l">Light</option>
          <option value="d">Dark</option>
        </select>
        
          
        </form>
     
      
    </nav>



    <article>
      <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="\assets\offers-1" class="d-block w-100"  height="300px">
          </div>
          <div class="carousel-item">
            <img src="\assets\offers-2.jfif" class="d-block w-100" height="300px">
          </div>
          <div class="carousel-item">
            <img src="\assets\offers-3.jfif" class="d-block w-100" height="300px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </article>
  </div>
    <router-outlet></router-outlet>
  </body>
</html>