<!-- <p>home works!</p> -->
<!-- <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active"><img src="\assets\offers-1" alt="" style="width: 800px; height: 500px;"></div>
    <div class="carousel-item "><img src="\assets\offers-2.jfif" alt="" style="width: 800px; height: 500px;"></div>
    <div class="carousel-item "><img src="\assets\offers-3.jfif" alt="" style="width: 800px; height: 500px;"></div>
    </div>
</div> -->
<style>
    body{
        background-image: url("/assets/homebg.jfif");
        background-repeat: no-repeat;
        background-size: cover;
    

    }
    footer{
        background-color: rgb(59, 3, 3);
    }
</style>
<body >
    

<article class="container-fluid">
<p class="text text-white content" style="font-size: 26px; font-weight: bold; font-style: italic; ">A pizza store, also known as a pizzeria, is a restaurant that specializes in making, selling, and serving pizza. 
    They may offer dine-in, take-out, or delivery services, and often include additional menu items like salads, appetizers, and side dishes. 
    Pizza stores can range from small, family-run establishments to larger chains, with many offering a variety of pizza styles and toppings. </p>
</article><br>
<section class="container-fluid pb-2">
    <p style="font-size: 24px;" class="text-center text-white bd-highlight" ><i id="p1">Hot Trending Items..!! </i>🔥🔥</p>

    <div class="d-flex justify-content-around">
    <div class="card " style="width: 400px; height: 400px;">

        <div class="card-body"></div>
        <div class="card-footer d-flex justify-content-between"><a routerLink="/viewpizza" class="btn btn-outline-success"><b>View More</b></a><a routerLink="/cart" class="btn btn-outline-info"><b>Add to Cart</b></a></div>

    </div>
    <div class="card  " style="width: 400px; height: 400px;">

        <div class="card-body"></div>
        <div class="card-footer d-flex justify-content-between"><a routerLink="/viewpizza" class="btn btn-outline-success"><b>View More</b></a><a routerLink="/cart" class="btn btn-outline-info"><b>Add to Cart</b></a></div>

    </div>
    <div class="card  " style="width: 400px; height: 400px;">

        <div class="card-body"></div>
        <div class="card-footer d-flex justify-content-between"><a routerLink="/viewpizza" class="btn btn-outline-success"><b>View More</b></a><a routerLink="/cart" class="btn btn-outline-info"><b>Add to Cart</b></a></div>

    </div>
    </div>
</section>
<footer class="d-flex justify-content-around pt-2">
    <div>
        <ul style="list-style-type: none; font-weight: bold;" class="text-white">
            <p class="text-uppercase"><u>Opening hours</u></p>
            <li>Moday..........9:00 -22:00</li>
            <li>Tuesday........9:00 -22:00</li>
            <li>Wednesday......9:00 -22:00</li>
            <li>Thursday.......9:00 -22:00</li>
            <li>Friday.........9:00 -22:00</li>
            <li>Staurday.......9:00 -22:00</li>
            <li>Sunday.........9:00 -22:00</li>
        </ul>
    </div>
    <div>
        
            
            <ul style="list-style-type: none; font-weight: bold;" class="text-white">
                <p class="text-uppercase"><u>locations</u></p>
            <li>Bangalore:</li>
            <li>560064</li>
            <li>Karnataka</li></ul>
        
            <ul style="list-style-type: none; font-weight: bold;" class="text-white">
            <li>Chennai</li>
            <li>977</li>
            <li>Tamil Nadu</li>
            </ul>
    </div>
    <div>
        <ul style="list-style-type: none; font-weight: bold;" class="text-white">
            <p class="text-uppercase"><u>menu</u></p>
            <li><a routerLink="/home" class="text-white">Home</a></li>
            <li><a routerLink="/login" class="text-white">Reservation</a></li>
            <li><a routerLink="/viewpizza" class="text-white">Our Pizza</a></li>
            <li><a routerLink="/order" class="text-white">Your Order</a></li>
            <li><a routerLink="/cart" class="text-white">Check Out</a></li>
            
        </ul>
    </div>
    <div>
        <ul style="list-style-type: none; font-weight: bold;" class="text-white">
            <p class="text-uppercase"><u>contact</u></p>
        <li>PHONE: 080-2342-232</li><br>
        <li>Email: pizzamania&#64;india.com</li><br>
        <li>ON SOCIAL MEDIA:</li>
        <li><img src="/assets/instagram.svg" alt="" width="20px" height="20px" class="me-3">
            <img src="/assets/whatsapp.svg" alt="" width="20px" height="20px" class="me-3">
            <img src="/assets/twitter-original.svg" alt="" width="20px" height="20px" class="me-3">
            <img src="/assets/youtube.svg" alt="" width="22px" height="22px" class="me-3"></li>
    </ul>
    
        

    </div>

</footer>
</body>

